.flex{
  display: flex;
  align-items: center;
}


/* grid */
.grid{
  display: grid;
}

/* text-position */
.text-r{text-align: right;}


/* margin */
.ml-16{margin-left: 16px;}
.mr-16{margin-right: 16px;}